#!/bin/bash
#
# This is a batchtools configuration file
# for the Sun/Univa Grid Engine.
# It resembles https://github.com/mllg/batchtools/blob/master/inst/templates/sge-simple.tmpl,
# but it is specifically tailored for drake.
# Drake has some special requirements.

# Each line beginning with `#$` contains flags to qsub.
# In this case, we are going to write the equivalent of
# qsub -sync y -cwd -j y
# Enter `man qsub` in the Linux terminal for details.

# First, we tell qsub to wait until
# the job finished before exiting.
# In other words, we build a target only after
# its dependencies are ready.
#$ -sync y

# Next, we point the job's working directory to the
# directory in which you called `drake::make()`.
#$ -cwd

# For convenience, we direct console output
# and error messages (stdout and stderr)
# to the same file.
#$ -j y

## Use environment variables
#$ -V

module load R-qualified
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'
exit 0
