*.aux
*.bbl
*.blg
*.dcf
*.log
*.nav
*.out
*.snm
*.rds
*.synctex.gz
*.toc
*.vrb
.DS_Store
.remake
.Rapp.history
.Rhistory
Makefile
Rbuildignore/*.pdf
Rbuildignore/local/
.Rproj.user
vignettes/*.html
inst/doc
