Thumbs.db
*~
*.aux
*.bbl
*.blg
*.dcf
*.log
*.nav
*.out
*.sh
*.snm
*.Rout
*.rds
*.synctex.gz
*.toc
*.vrb
.DS_Store
.Rapp.history
.RData
.Rhistory
Makefile
Rbuildignore/*.pdf
Rbuildignore/local/
.Rproj.user
vignettes/*.html
vignettes/*.md
vignettes/*_files
inst/doc
