Thumbs.db
*~
*.aux
*.bbl
*.blg
*.dcf
*.log
*.nav
.nfs*
*.out
*.snm
*.Rout
.Rproj*
*.synctex.gz
*.toc
*.vrb
.drake
.DS_Store
.future
.Rapp.history
.RData
.Rhistory
.Rproj.user
Makefile
Rbuildignore/*.pdf
Rbuildignore/local/
README.html
vignettes/*.html
vignettes/*.md
vignettes/*_files
inst/doc
_book/
