## From https://github.com/mschubert/clustermq/wiki/SGE
#$ -N {{ job_name }}               # job name
#$ -t 1-{{ n_jobs }}               # submit jobs as array
#$ -j y                            # combine stdout/error in one file
#$ -o {{ log_file | /dev/null }}   # output file
#$ -cwd                            # use pwd as work dir
#$ -V                              # use environment variable
## #$ -pe smp 1                    # Cores per job. Uncomment and adjust if greater than 1.
## module load R                   # Uncomment and adjust if R is an environment module.
## ulimit -v $(( 1024 * {{ memory | 4096 }} )) # Uncomment and adjust for memory requirements.
CMQ_AUTH={{ auth }} R --no-save --no-restore -e 'clustermq:::worker("{{ master }}")' # Leave alone.
